    <footer>
        <div class="container">
          <div class="row mt-4">
            <div class="col-5 mt-5">
              <h5><span class="fa fa-map-marker fa-1x" aria-hidden="true"></span> Thakur College of Engineering and
                Technology, Kandivali (E), Mumbai, Maharashtra, India</h5><br>
              <h5><span class="fa fa-phone fa-1x" aria-hidden="true"></span> +91-9000400999</h5><br>
              <h5><span class="fa fa-envelope fa-1x" aria-hidden="true"></span> careerguidance24x7@gmail.com</h5>
            </div>
            <div class="col-3 offset-sm-4 mt-5">
              <h5>Follow Us:</h5>
              <a class="footer-anchor" href="#" style="text-decoration:none; color:white;">
                <i class="fa fa-facebook fa-lg"></i>
              </a>
              <a class="footer-anchor" href="#" style="text-decoration:none; color:white;">
                <i class="fa fa-envelope-o fa-lg"></i>
              </a>
              <a class="footer-anchor" href="#" style="text-decoration:none; color:white;">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
              <a class="footer-anchor" href="#" style="text-decoration:none; color:white;">
                <i class="fa fa-instagram fa-lg"></i>
              </a><br><br><br>
            </div>
            <center><div class="mt-4 mb-4">Copyright&#169;2021 @CareerGuidance -- Made In India</div></center>
          </div>

        </div>
      </footer>    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>


