<%- include('../partials/header') %>

<div class="after-12_div-1">
    <div class="container">
        <div class="row after12-div-content">
            <p class="doublemax pt-5">Courses after 12th</p>
            <div class="col-sm-5 mt-4">
                <h2 class="pink-h2">Explore popular courses after 12th in Arts, Science and Commerce streams. Also take a look at the popular Entrance Exams to get admission in the best colleges and courses after 12th.</h2>    
            </div>
        </div>
    </div>
</div>
<div class="after-12_div-2">
    <div class="container">
        <div class="row after12-div-content pt-4">
            <div class="col-sm-7 mt-4 offset-sm-5">
                <p class="doublemax pt-5">Arts</p>
                <div class="">
                    <h2 class="pink-h2">Students who pursue their 12th standard in arts enjoy the perk of choosing from a wide range of career options after 12th arts. This is because the arts stream comprises plenty of subjects, thereby making this field a diverse one with an extensive career scope.</h2>
                </div>
                <a class="btn btn-warning btn-extra-lg  mt-5" href="#" role="button"><h3 class="mt-1">Explore More</h3></a>
            </div>
        </div>
    </div>
</div>
<div class="after-12_div-3">
    <div class="container">
        <div class="row after12-div-content mt-4">
            <div class="col-sm-6 mt-4">
                <p class="doublemax-red pt-5">Commerce</p>
                <div class="">
                    <h2 class="pink-h2">Commerce is a popular stream among HSC (10+2) students in India. Having studied Commerce in Class 11th-12th allows candidates to choose from a multitude of courses at graduation level, paving the way for a range of career choices.</h2>
                </div>
                <a class="btn btn-dark btn-extra-lg  mt-5" href="#" role="button"><h3 class="mt-1">Explore More</h3></a>
            </div>
        </div>
    </div>
</div>
<div class="after-12_div-4">
    <div class="container">
        <div class="row after12-div-content pt-4">
            <div class="col-sm-7 offset-sm-5">
                <p class="doublemax pt-5">Science</p>
                <div class="">
                    <h2 class="pink-h2">One of the major benefits that Science students have over Arts and Commerce students is that they are eligible for almost all Science as well as non-Science career options. That is why, after passing 10+2 in Science, course selection at UG level becomes a major turning point to give direction to one's career.</h2>
                </div>
                <a class="btn btn-primary btn-extra-lg  mt-5" href="#" role="button"><h3 class="mt-1">Explore More</h3></a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>