<%- include('../../partials/header') %>

<div class="after10th_body">
    <div class="container">
        <div class="row">
            <div class="main-content col-sm-6 col-sm-push-3 mt-4">
                <div class="jumbotron">
                    <h2 style="color: white" >Curious to know the ITI Courses!</h2>
                    <img class="img-responsive img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzwycCfx6qQxaTKdfSkWgSPyZeemejS1FHlQ&usqp=CAU" />
                    <p class="text-justify"><h1 style="color: white"> work under progress </h1></p>
                    <p><a class="btn btn-success btn-default" href="#">Take a Test</a></p>
                </div>
            </div>
    
            <div class="leftNav col-sm-3 col-sm-pull-6 mt-4">
                <ul class="menu list-unstyled">
                    <li class="sidebar-nav"> <a href="Glyphicon.html"><span class="glyphicon glyphicon-circle-arrow-right"></span> Fitter</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Computer</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Mechanic</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Plumber</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Welder</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Fireman</a></li>
                </ul>
            </div>
        </div>
    </div>
        
</div>

<%- include('../../partials/footer') %>