<%- include('../../partials/header') %>
        
    <div class = "container">
        <div class="row mt-5">
            <div class="main-content col-sm-6 col-sm-push-3">
                <div class="jumbotron">
                    <h2 style="color: white">List of Intermidiate Courses</h2>
                    <img class="img-responsive img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfMqELpzsfR4OeY5sI8ii1tJtvxfGCRTgMOQ&usqp=CAU" />
                    <p class="text-justify" style="color: white">Intermidiate Course is the regular course that most of the students opt for.It provides flexibility to do various graduation courses.Most of the schools and colleges accept class 10th passed students for enrollment.The various streams under intermidiate course are listed in the column aside
                    <p><a class="btn btn-success btn-default" href="#">Take a Test</a></p>
                </div>
            </div>

            <div class="leftNav col-sm-3 col-sm-pull-6">
                <ul class="menu list-unstyled">
                    <li class="sidebar-nav"> <a href="/after_10th_science"> <span class="glyphicon glyphicon-circle-arrow-right"></span> Science</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Commerce</a></li>
                    <li class="sidebar-nav"> <a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span> Arts</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

<%- include('../../partials/footer') %>
