<%- include('../../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
            <main id="main-doc">
                <section class="main-section" id="Introduction" >
                 <!--basic styling for the headings, better practice to do the same in a css file as the styling is same for all headers-->
                    <h3 style = "background: rgb(12, 12, 12); color: white">Science Stream</h3>
                    <article>
                    <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)"> Science stream is a very popular choice among 10th standard passed students in India. Students who want to pursue pure and applied science professional courses in the future may choose this stream. In this article, you will be reading details about science stream schooling (11th and 12th) such as boards available in India, subjects to study, professional courses available after completing 12th, career paths and prospects.</p>
                        </article>
                </section>
                <section class="main-section" id="What_you_should_already_know">
                    <h3 style = "background: black; color: white">Science Stream Groups</h3>
                    <article>
                        <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">There are 2 basic groups:</p>
<!--creating list using html-->
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Biology Group (Physics, Chemistry and Biology as main subjects)</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Mathematics Group (Physics, Chemistry and Mathematics subjects)</li>
                        
                        <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)" >The mathematics group is generally known as the A group and biology group is known as B group. Students pursuing both groups may identify themselves as AB group students.</p>
                        </artice>
                </section>
                <section class="main-section" id="About_Topic">
                    <h3 style = "background: black; color: white">Science stream boards in India</h3>
                    <article>
                        <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)"> There are four main education boards available in India. Students may choose a stream that suits them best. The choice shall be made on the basis of difficulty level associated with the boards and aptitude of the student. The names of the boards are-
                            
                            <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)" >CBSE (Central Board of Secondary Education)</li>
                            <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">ICSE (Indian Certificate of Secondary Education)</li>
                            <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)" >IB (International Baccalaureate)</li>
                            <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)" >State Boards</li>
                        </p>
                    </article>
                </section>
                <section class="main-section" id="Topic_1">
                    <h3 style = "background: black; color:white">Science Stream subjects</h3>
                    <article>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Physics</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Chemistry</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Mathematics</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Biology</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">English</li>
                        <li style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Computer Science</li>

                        <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">Among the above mentioned subjects, Physics, Chemistry, English and Mathematics/Biology are compulsory subjects. Students have to choose an optional subject other than them. Usually, availability of such optional subjects may vary from one board to another and from one state board to another. Usually, the optional subjects are- computer science, Sanskrit, regional languages etc.</p>
                        
                    </article>
                </section>
                <section class="main-section" id="Topic_2">
                    <h3 style = "background: black; color: white">Academic program and evaluation</h3>
                    <p style= "background: rgb(195, 194, 252); color: rgb(7, 7, 7)">
                        There are two academic years present- 11th and 12th standards. In case of some boards and state boards, the each academic year has been divided into two semesters, each semester lasting a period of 6 months. Main evaluation exams are held at the end of each academic year (at the end of each semester, in case of semester learning system).
                    </p>
                </section>
            </main>
        </div>
    </div>
</div>
<%- include('../../partials/footer') %>
