<%- include('../../partials/header') %>

<div class="grad">
    <center>
    <!---MAIN PAGE CONTENT-->
    <div class="spacing"></div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/higher_studies.png" class="d-block w-100 size" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5">Higher Studies</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/jobs.webp" class="d-block w-100 size" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5">Jobs</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/ent.jpg" class="d-block w-100 size" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="h5">Entrepeneur</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </center>
    <div class="info">
        <p>Many graduates take time to find their career path, and sometimes it’s hard to work out what kind of job or career is right for you until you try different things (ie through work experience). Sometimes it helps to separate the short-term and the longer-term plans; you don’t need to let uncertainty about what career you ultimately want to pursue prevent you from taking action now.

            <ul>The most popular ‘next steps’ for new graduates are:
            <li>Get (more) work experience</li>
            <li>Look for a graduate job</li>
            <li>Go on to further study, eg a Masters course</li>
            <li>Take time out</li>
            <br>
            Which path or combination of paths you choose will obviously depend on many factors, such as how much work experience you have already, whether you have clear longer term career plans and whether you feel you need a break before jumping into the job market. Let’s examine the options in turn.
            
            Good reasons to get (more) work experience when you graduate
            Make yourself more employable.
            Most graduate recruiters now expect you to have at least some work experience. Even if the experience isn’t specifically relevant to the job you are applying for, it will probably have helped you to develop some of the ‘transferable skills’ employers look for, such as communication, teamwork and organisation skills.
            </ul> 
            </p>
    </div>
  </div>

<%- include('../../partials/footer') %>