<%- include('../../partials/header') %>

<div class="grad">
    <!---MAIN PAGE CONTENT-->
    <div class="content">
        <p><b>There are various opportunities for an Engineering Graduate:</b></p>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="images/hs.png" alt="Card image cap" class="yes">
          <div class="card-body">
            <p class="card-text">Higher education, any of various types of education given in postsecondary institutions of learning and usually affording, at the end of a course of study, a named degree, diploma, or certificate of higher studies. Higher-educational institutions include not only universities and colleges but also various professional schools that provide preparation in such fields as law, theology, medicine, business, music, and art. Higher education also includes teacher-training schools, junior colleges, and institutes of technology. The basic entrance requirement for most higher-educational institutions is the completion of secondary education, and the usual entrance age is about 18 years.</p>
          </div>
          <button class="btn btn-success "><a href="/graduation_exams" style="color: white;">Learn More</a></button>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="images/job.webp" alt="Card image cap" class="yes">
          <div class="card-body">
            <p class="card-text">There are plenty of job opportunities for B.Sc. Graduates. Science Graduates can find jobs in Education Institutes, Space Research Institutes, Hospitals, Health Service Providers, Chemical Industries, Testing Laboratories, Geological Survey Institutes and many more right after completing their Graduation. Apart from technical fields, Science Graduates can also work in Marketing, Business and other Research Field as well. Science Graduates can work as Medical Representative, Consultant, Junior Clinical Research Engineer, Teachers and many more.</p>
          </div>
          <button class="btn btn-success">Learn More</button>
      </div>
      </div>
    </div>
</div>

<%- include('../../partials/footer') %>